<!--The content below is only a placeholder and can be replaced.-->
<h1>Slack Hub</h1>
<div class="container-fluid">

  <div class="row content">
    <div class="col-3 sideactivity">
      <div class="activeUser" style="background-color: aqua">
      <app-active-user></app-active-user>
    </div>
    </div>

    <div class="col-9 chatcontent">
      <div class="activeChat" style="background-color: coral">
        <app-active-chat></app-active-chat>
      </div>
      <div class="postToActiveChat" style="background-color: darkgray">
        <app-post-to-active-chat></app-post-to-active-chat>
      </div>
    </div>

  </div>
</div>


